<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Purchases</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">My  Products</h2>
    <div class="row">
        {% for purchase in purchases %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ purchase.product.product_image.url }}" class="card-img-top" alt="{{ purchase.product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ purchase.product.name }}</h5>
                    <p class="card-text">{{ purchase.product.description }}</p>
                    <p><strong>Price:</strong> ₹{{ purchase.product.price }}</p>
                    <p><strong>Phone:</strong> {{ purchase.phone }}</p>
                    <p><strong>Address:</strong> {{ purchase.address }}</p>
                    <p><strong>Date:</strong> {{ purchase.purchased_at|date:"M d, Y H:i" }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You haven’t purchased any products yet.</p>
        {% endfor %}
    </div>
</div>
</body>
</html>
